<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- 输入框 -->
<input type="text">
<input type="password">定义密码字段
<!-- 单选框 -->
<input type="radio" value="boy" v-model="sex">男
<input type="radio" value="girl" v-model="sex">女
<!-- 复选框 -->
<input type="checkbox" value="吃饭" v-model="hobby">吃饭
<input type="checkbox" value="睡觉" v-model="hobby">睡觉
<input type="checkbox" value="玩游戏" v-model="hobby">玩游戏
<!-- 下拉框 -->
<select name="" id="" '>
	<option value="黑大">黑大</option>
	<option value="理工">理工</option>
	<option value="林大">林大</option>
</select>
</body>
</html>